

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    text-decoration: none !important;

}


body {

    display: flex;

    flex-direction: column;

    align-items: center;

    background-color: #4A00A0;

    font-family: Arial, sans-serif;

}


/* Botões Flutuantes */

.floating-nav {

    position: fixed;

    bottom: 20px;

    right: 20px;

    display: flex;

    flex-direction: column;

    gap: 10px;

    z-index: 1000;

}


.nav-button {

    width: 50px;

    height: 50px;

    background-color: #FFD700;

    color: #4A00A0;

    font-size: 1.5em;

    text-align: center;

    line-height: 50px;

    border-radius: 50%;

    text-decoration: none;

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);

    transition: transform 0.3s, background-color 0.3s;

}


.nav-button:hover {

    transform: scale(1.1);

    background-color: #FFC107;

}


/* Estilos das Seções */

.container, .sobre, .historia {

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    width: 100vw;

    height: 100vh;

    text-align: center;

}


.title {

    font-size: 3em;

    color: #FFD700;

    margin-bottom: 1em;

    font-family: "Patrick Hand", cursive;

}


.cards {

    display: flex;

    gap: 1.5em;

    justify-content: center;

}


.card {

    width: 150px;

    height: 180px;

    background-color: #FFF;

    border-radius: 15px;

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

    transition: transform 0.50s, box-shadow 0.50s;

}


.card:hover {

    transform: scale(1.05);

    box-shadow: 0px 4px 7px rgba(250, 250, 249, 0.7); /* brilho */

}



.emoji {

    font-size: 2em;

}


.text {

    font-size: 1.2em;

    font-weight: bold;

    margin-top: 0.5em;

    color: #4A00A0;

}


.card:nth-child(1) .text {

    color: #007BFF; /* Cor azul para "Caça Palavra" */

}


.card:nth-child(2) .text {

    color: #9B51E0; /* Cor roxa para "Matematica" */

}


.card:nth-child(3) .text {

    color: #2D9CDB; /* Cor verde-água para "História" */

}


/* Layout de duas colunas para a seção Sobre */

.sobre-content {

    display: flex;

    align-items: center;

    gap: 2em;

    color: #FFF;

    max-width: 80%;

    text-align: left;

}


.image-placeholder {

    width: 300px;

    height: 200px;

    background-color: #B3B3B3;

    border-radius: 10px;

}


.social-links {

    display: flex;

    gap: 1em;

    font-size: 1.5em;

    margin-top: 3em;

}


.historia-content {

    display: flex;

    align-items: flex-start;

    gap: 2em;

    color: #FFF;

    max-width: 80%;

    text-align: left;

}


.texto-historia {

    flex-grow: 1; /* Para ocupar o espaço restante */

}


textarea {

    width: 100%;

    height: 200px; 

    border-radius: 10px;

    padding: 10px;

    border: 1px solid #B3B3B3;

    resize: none; /* Desabilitar redimensionamento */

    margin-top: 10px; /* Espaço entre o parágrafo e o textarea */

}
